<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/jpg">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav class="navbar">
        <a class="logo" href="/login">
            <h1>Email Scrapper</h1>
        </a>
        <div class="navbar-toggler" id="navbar-toggler" onclick="navAction();"></div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="container">
        <div class="title">
            <h1>Log In</h1>
        </div>
        <div class="form_container login_container">
            <form class="login_form" action="{{ url_for('process_login') }}" method="post">
                <input autocomplete="off" required type="text" name="username_email" id="username_email" placeholder="Username or Email">
                <input autocomplete="off" required type="password" name="password" id="password" placeholder="Password">
                <input type="submit" value="Log In" name="login_btn" id="login_btn">
            </form>
            <div class="a_container signup_link">
                <a href="/signup">Sign Up?</a>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; by <a href="https://www.linkedin.com/in/yassine-moutaoikkil-basskar-238b56253">Yassine Moutaoikkil Basskar</a></p>
    </footer>
    <script>
        var login_error = "{{error}}";
        if (login_error != ""){
            alert(login_error);
        }
    </script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>