<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/jpg">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav class="navbar">
        <a class="logo" href="one_link">
            <h1>Email Scraper</h1>
        </a>
        <div class="navbar-toggler" id="navbar-toggler" onclick="navAction();"></div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="one_link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="historique">Historique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="container">
        <div class="title">
            <h1>Automate extracting emails from websites</h1>
        </div>
        <div class="form_container">
            <form class="multi_form" action="process_bulktext_action" method="post">
                <textarea required name="bulk_text" id="bulk_text" placeholder="Enter a list of urls of the websites ..."></textarea>
                <input type="submit" value="Convert" name="submit_url" id="submit_multiUrl">
            </form>
            <div class="a_container">
                <a href="one_link">do you want to enter just one url?</a>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; by <a href="https://www.linkedin.com/in/yassine-moutaoikkil-basskar-238b56253">Yassine Moutaoikkil Basskar</a></p>
    </footer>
    <script>
        var error = "{{error}}";
        if (error != ""){
            alert(error);
        }
    </script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
